* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Noto Sans", "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif"; }

a,
a::before,
a::after,
a:link {
  text-decoration: none;
  border: none;
  color: inherit; }

button,
button:active,
button:link,
button:active,
button:focus,
button:visited {
  outline: none; }

p {
  color: #304960; }

h2 {
  font-size: 4rem;
  color: #304960; }

h3 {
  font-size: 2.25rem;
  color: #304960; }

main {
  height: 400rem; }

header {
  display: flex;
  justify-content: space-around;
  height: 13rem;
  padding-top: 3rem; }

.top-banner {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .top-banner__social-icons {
    margin-right: 45rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5rem; }

.social-icon {
  height: 2rem;
  width: 2rem;
  fill: #304960; }

.body-icon {
  fill: #8CACD0;
  transition: transform .2s; }
  .body-icon:hover {
    transform: translateY(-0.75rem);
    transition: transform .2s; }

.blue-btn {
  cursor: pointer;
  background-color: #304960;
  border: 1px solid #304960;
  border-radius: .75rem;
  font-size: 2rem;
  color: #fff;
  padding: 1.5rem 3.5rem;
  transition: all .3s; }
  .blue-btn:hover {
    background-color: #8CACD0;
    transform: scale(1.1);
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75); }
  .blue-btn:active {
    background-color: #304960;
    transform: scale(0.9);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.75); }

.chat-with-us-cta {
  display: flex;
  align-items: center;
  margin-top: 7.5rem;
  margin-bottom: 5rem; }
  .chat-with-us-cta__text {
    font-size: 2.25rem;
    font-weight: 700;
    color: #304960;
    margin-right: 3rem; }
  .chat-with-us-cta__icon {
    height: 6rem;
    width: 6rem;
    fill: #41C452;
    transition: transform .2s; }

.header__logo {
  overflow: hidden; }

.header__logo-image {
  width: 17rem;
  margin-left: 17.5rem; }

.header__navigation {
  text-transform: uppercase;
  font-size: 1.4rem; }

.header__navigation-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%; }

.header__navigation-parent-item {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: .75rem;
  color: #304960;
  padding: 0 4rem;
  height: 6rem;
  transition: all .2s; }
  .header__navigation-parent-item:not(:last-child) {
    margin-right: .5rem; }
  .header__navigation-parent-item:hover {
    cursor: pointer;
    background-color: #8CACD0;
    color: #fff;
    transition: all .2s; }
  .header__navigation-parent-item:active {
    background-color: #304960; }
  .header__navigation-parent-item:hover .header__navigation-dropdown {
    visibility: visible;
    transition: all .2s; }

.header__navigation-dropdown-parent {
  flex: 1; }

.header__navigation-dropdown {
  visibility: hidden;
  list-style-type: none;
  margin-top: 3.8rem;
  position: absolute;
  top: 2rem;
  left: 0; }

.header__navigation-child-item {
  display: flex;
  align-items: center;
  background-color: #304960;
  color: #fff;
  padding: 3rem;
  height: 6rem;
  text-align: left; }
  .header__navigation-child-item:hover {
    background-color: #8CACD0;
    transition: all .2s; }

.featured-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 47rem;
  background-image: url(../images/featured-image.jpg);
  background-size: cover;
  background-position: 50% 95%; }
  .featured-image__content {
    margin-right: 36rem;
    width: 60rem;
    max-height: 80%;
    padding: 4rem 6rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: .75rem; }
  .featured-image__button {
    margin-top: 2rem; }

.white-one-row-section {
  text-align: center; }
  .white-one-row-section__heading {
    margin: 5rem 0; }
  .white-one-row-section__widgets {
    width: 60%;
    display: flex;
    margin: 0 auto; }
  .white-one-row-section__widget-text {
    padding: 3rem 6rem; }
  .white-one-row-section__button {
    margin: 5rem 0; }

.white-two-row-section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .white-two-row-section__heading {
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center; }
  .white-two-row-section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%; }
  .white-two-row-section__tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33333%;
    margin-top: 4rem; }
  .white-two-row-section__icon {
    height: 15rem;
    width: 15rem;
    padding: 0 3rem; }

.blue-one-row-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8CACD0;
  color: #fff; }
  .blue-one-row-section__heading {
    margin: 5rem 0;
    color: #fff; }
  .blue-one-row-section__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%; }
  .blue-one-row-section__content-left {
    width: 50%;
    align-self: stretch; }
  .blue-one-row-section__paragraph {
    color: #fff;
    font-size: 2.25rem;
    margin-bottom: 4rem; }
  .blue-one-row-section__list {
    font-size: 1.75rem;
    line-height: 2.5;
    margin-left: 2rem; }
  .blue-one-row-section__photo {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 14% 51%, 0% 0%);
    transition: all .4s ease-in-out; }
    .blue-one-row-section__photo:hover {
      transform: scale(1.15); }
  .blue-one-row-section__button {
    margin: 5rem 0; }
