
// Stylesheet Resets

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Noto Sans", "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
}

// Colour Variables

$color-primary: #304960;
$color-secondary: #8CACD0;

$whatsapp-green: #41C452;

// Styling Variables

$box-shadow-primary: 10px 10px 26px 0px rgba(0,0,0,0.75);
$box-shadow-smaller: 6px 6px 10px 0px rgba(0,0,0,0.75);

// Element Defaults

a,
a::before,
a::after,
a:link {
    text-decoration: none;
    border: none;
    color: inherit;
}

main a:hover, footer a:hover {
    color: $color-secondary;
}

button,
button:active,
button:link,
button:active,
button:focus,
button:visited {
    outline: none;
}

p {
    color: $color-primary;
}

h2 {
    font-size: 4rem;
    color: $color-primary;
}

h3 {
    font-size: 2.25rem;
    color: $color-primary;
}

main {

}
