
// Homepage Header Layout

header {
    display: flex;
    justify-content: space-around;
    height: 13rem;
    padding-top: 3rem;

    @media only screen and (max-width: $bp-medium) {
        padding-top: 0;
    }
}

.top-banner {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media only screen and (max-width: $bp-small) {
        justify-content: center;
    }

    &__social-icons {
        margin-right: 20vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 5rem;

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
        }
    }
}

footer {
    width: 100%;
}